    
<div class="row">
  <div class="col-md-6">
    <h3>Monday, October 28</h3>
    <h4><a href = "https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R</a></h4>
    <table class="table table-striped">
      <tr> <td>9:00</td>   <td>Intro and Overview: <a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr>
      <tr> <td>9:30</td>   <td><a href = "https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:15</td>  <td><a href = "https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>12:45</td>  <td><a href = "https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Aggregating and analyzing data with dplyr</a></td> </tr>
      <tr> <td>2:00</td>  <td>Break</td> </tr>
      <tr> <td>2:15</td>  <td><a href = "https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with ggplot2</a></td> </tr>    
      <tr> <td>4:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, October 29</h3>
	  <h4><a href = "https://datacarpentry.org/geospatial-workshop/">Geospatial Data</a></h4>
    <table class="table table-striped">
      <tr> <td>9:00</td>   <td>Intro and Review</td> </tr>
      <tr> <td>9:30</td>   <td><a href = "https://librarycarpentry.org/lc-data-intro/">Project Management With RStudio</a><br><a href = "https://datacarpentry.org/r-intro-geospatial/03-data-structures-part1/index.html">Data Structures</a></td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href = "https://datacarpentry.org/r-intro-geospatial/04-data-structures-part2/index.html">Exploring Data Frames</a><br><a href = "https://datacarpentry.org/r-intro-geospatial/05-data-subsetting/index.html">Subsetting Data</a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch Break</td> </tr>
      <tr> <td>1:00</td>  <td><a href = "https://datacarpentry.org/r-intro-geospatial/06-dplyr/index.html">Data frame Manipulation with dplyr</a><br><a href = "https://datacarpentry.org/r-intro-geospatial/07-plot-ggplot2/index.html">Introduction to Visualization</a><br><a href = "https://datacarpentry.org/r-intro-geospatial/08-writing-data/index.html">Writing Data</a></td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:45</td>  <td><a href = "http://www.datacarpentry.org/organization-geospatial/">Introduction to Geospatial Concepts</a></td> </tr>    
      <tr> <td>4:00</td>  <td>Wrap-up: <a href="{{ site.dc_post_survey }}{{ site.github.project_title }}">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
