<p id="who">
  <strong>Who:</strong>
  The course is aimed at Harvard librarians who would like to gain additional technical skills related to 
  R, data visualization, and GIS data in order to support the development of new outreach, training, and 
  services for the community and researchers they serve.
  <strong>
    While understanding basic data organization and database/spreadsheet concepts are important, 
    you don't need to have any previous knowledge of the tools that will be presented at the workshop. 
    No programming experience is required. However, there will be some basic scripting/programming in the workshop.</strong>
    We suggest you review 'Data Organisation in Spreadsheets' and 'Data Cleaning with OpenRefine' prior to the workshop
  (see below under <a href="https://nesclic.github.io/2019-10-28-harvard/#syllabus">Syllabus</a>).
</p>
